<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>arm64</Platform>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <AppxBundle>Never</AppxBundle>
    <AppxBundlePlatforms>arm64</AppxBundlePlatforms>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
    <GenerateTemporaryStoreCertificate>false</GenerateTemporaryStoreCertificate>
  </PropertyGroup>
</Project>
